{% extends "header.html" %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="row">
    <div class="col">
        
        <h2>Log In</h2>
        <span class="float-left">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <small>{{ message }}</small> 
          {% endfor %}
        {% endif %}
      {% endwith %}
    </span>
    <br />
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                <div class="form-group">
        {{ form.username(class="form-control", placeholder="Enter Username") }}
        {% if form.username.errors %}
        <span class="alert alert-warning">
          {% for error in form.username.errors %}
          
          <small>{{ error }}</small>
          
           {% endfor %}
           </span>
           {% endif %}
        </div>
        <div class="form-group">
        {{ form.password(class="form-control", placeholder="Enter Password" )}}
        {% if form.password.errors %}
        <span class="alert alert-warning" role="alert">
            {% for error in form.password.errors %}
    
              <small>{{ error }}</small>
               {% endfor %}
              </span>
              {% endif %}   
        </div>
        <div class="form-group">
       
            {{ form.token(class="form-control", placeholder="Enter 6 digit token")}} 
            {% if form.token.errors %}
        <span class="alert alert-warning" role="alert">
            {% for error in form.token.errors %}
    
              <small>{{ error }}</small>
               {% endfor %}
              </span>
              {% endif %}   
    
            </div>
        <div class="form-group">
       
        {{ form.submit(class="form-control")}} 

            </div>
     
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Add link to redirect users to Registration page if they don't have an account #}
        <a href="{{ url_for('loginpage.register') }}"><b> Don't have and account make one here! </b></a>
    </div>
</div>

{% endblock %}