{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Account Registration</h2>
        <h5>Passwords must at least include 1 uppercase letter and at least one symbol such as (@,$,&,or #)</h5>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Ask the user to login if they already have an account #}
        <a href="{{ url_for('loginpage.login') }}"><b> Do you already have an account, LOG IN HERE! </b></a>
    </div>
</div>
<!-- Registration Form: -->
<div class="row">
    <div class="col">
        {# Optionally show flashed messages if/when you need them,
            if an authentication or other similar error occurs #}
           
         
                <form method="POST" action="">
                    {{ form.csrf_token }}
                    <div class="form-group">       
                        {{ form.username(class="form-control", placeholder="Username") }}
                        {% if form.username.errors %}
                      <span class="alert alert-warning">
                        {% for error in form.username.errors %}
                        
                        <small>{{ error }}</small>
                        
                         {% endfor %}
                         </span>
                         {% endif %}
                        </div>
                        <div class="form-group"> 
          {{ form.email(class="form-control", placeholder="Email")}}
                        {% if form.email.errors %}
                        <span class="alert alert-warning" role="alert">
                       {% for error in form.email.errors %}
                         <small>{{ error }}</small>
                          {% endfor %}
                         </span>
                         {% endif %}
                        </div>
                        <div class="form-group"> 
        {{ form.password(class="form-control", placeholder="Password") }}
        {% if form.password.errors %}
        <span class="alert alert-warning" role="alert">
            {% for error in form.password.errors %}
    
              <small>{{ error }}</small>
               {% endfor %}
              </span>
              {% endif %}   
                        </div>
        <div class="form-group"> 
        {{ form.confirm_password(class="form-control", placeholder="Confirm password")}}
 
        {% if form.confirm_password.errors %}
        <span class="alert alert-warning" role="alert">
       {% for error in form.confirm_password.errors %}
         <small>{{ error }}</small>
          {% endfor %}
         </span>
         {% endif %}
        </div>
        {{ form.submit(class="form-control")}} 
        
       
    </div>
      
</form>
    
    </div>
</div>

{% endblock %}